---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero/Hero.astro';
import Tools from '../components/tools/Tools.astro';
import BlogSection from '../components/blog/BlogSection.astro';
import EbookPromo from '../components/EbookPromo.astro';
---

<Layout title="Welcome to Beginners Yoga Blog">
  <main>
    <Hero />
    <Tools />
    <BlogSection />
    <EbookPromo />
  </main>
</Layout>